@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}
body{
    font-family: sans-serif;

}

/*Nav bar*/

/*Nav bar*/

nav{
    
    height: 80px;
    width:100%;
    background-color: black;
    overflow: hidden;
}
label.logo{
    color:rgb(240, 6, 100);
    font-size: 3rem;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:'dancing script',sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;   
}
nav ul li a:hover{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
    transition: 0.5s ease-in all;
    
}
nav ul li a.active{
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
}
.checkbtn{
    font-size: 30px;
    color:bisque;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;

}

/*Container-1*/

img{
    width:100%;
    height:690px;
}
.box-1{
    position: absolute;
    top:27%;
    float: left;
    width: 550px;
    height:400px;
    margin: 30px;
    /*background-color: rgb(240, 6, 100);
    box-shadow: 15px 15px rgb(163, 27, 82);*/
    border-radius: 5px;
}
.head{
    padding-top: 100px;
    padding-left: 30px;
    /*color: rgb(240, 6, 100);*/
    color: white;
   
}
#heading-1{
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 1.5;
}
#heading-2{
    padding-top: 40px;
    font-size: 1.7rem;   
}

/*Container - 2*/


.container-2{
    position: absolute;
    top:110%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
}
.gallery{
    
    flex-basis:40%;
    display: grid;
    gap:3px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}

.box{
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;   
}

.row-2{
    grid-row:span 2;
}
.col-2{
    grid-column:span 2;
    max-width:100% !important;
}

.right-text{
    flex-basis:30%;
}

h2{
    font-size: 2rem;
}
#border{
    padding-top: 7px;   
    border-bottom: 3px solid rgb(240, 6, 100);   
    width:80px;
}
.subheading{
    
    margin-top: 10px;
    text-align: justify;
    line-height: 1.7;
}

#button{
    position: relative;
    margin-top: 20px;
    height: 40px;
    width:130px;
    background-color: rgb(240, 6, 100);
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 7px 7px rgb(163, 27, 82);
    
}
#button:hover{
    background-color: black;
    box-shadow: none;
    transition: 0.5s ease-in all;
    cursor: pointer;
}

/* Our Projects*/
.project{
    position: absolute;
    top:170%;
    height:100px;
    width: 100%;
    font-size: 2rem;
}

.project h1{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
}
#border2{
    position: absolute;
    left:51%;
    padding-top: 40px;
    transform:translate(-50%,-50%); 
    border-bottom: 3px solid rgb(240, 6, 100);
    width:90px;
    
}
/*Container - 3*/

.container-3{
    position: absolute;
    top:200%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;   
    width: 100%;     
}


.about1{
    flex-basis:40%;    
}
.about1 #heading{
   font-size: 1.7rem;
   font-weight: bold;
}
#sub-heading{
    padding-top: 30px;
    line-height: 3;
    font-size: 1rem;

}
.about2{
    flex-basis:30%; 
    
}
.about2-image{
    width:420px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: -45px 45px rgb(240, 6, 100); 
}

/* Container - 4 */

.container-4{
    position: absolute;
    top:260%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;   
    width: 100%;     
}

.container-4-about2{
    flex-basis:40%;    
}
#container-4-heading{
   font-size: 1.7rem;
   font-weight: bold;
}
#container-4-sub-heading{
    padding-top: 30px;
    line-height: 3;
    font-size: 1rem;

}
.container-4-about1{
    flex-basis:30%; 
    
}
.about1-image{
    width:420px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 45px 45px rgb(240, 6, 100); 
}

/* Container - 5 */
.container-5{
    position: absolute;
    top:320%;
    width:100%;
    height:700px;
    background-size: cover;
}
.box-2{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);  
    width:650px;
    height:550px;
    background-color: rgba(240, 6, 100);
box-shadow: 5px 5px 5px rgb(172, 171, 171);

}
#testimonials{
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
#border3{
    position: absolute;
    left: 50%;
    top:15%;
    transform: translate(-50%,-50%);
    border-bottom: 3px solid rgb(251, 255, 4);
    width:90px;  
}
#profile-pic{
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%,-50%);
    display:flex;
    justify-content: center;
    align-items: center;

}
#profile-pic img{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-size: cover;
    
}
.box-2 p{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 500px;
    text-align: center;
    color: white;
    line-height: 1.8;   
    font-size: 1.2rem;
}
.box-2 h1{
    position: absolute;
    left: 50%;
    padding-top: 750px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 1.2rem;
}


/* Footer */


.f{
    height: 55px;
    width:100%;
    margin-top: 165%;
  }
  
  .footer ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
    width:100%;
  /*background: #3f3f3f;*/
  background:black;
  position: absolute;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  /*color: #E62C03;*/
  color:rgba(240, 6, 100);
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  margin-bottom: 5px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 25px;
  text-transform: none;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-left: 15px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  margin-left: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .instagram-bg{
  background: #d839ddd1;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:rgba(240, 6, 100);
  }
  .footer-widget ul li {
  display: inline-block;
  float : left;
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #E62C03;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #E62C03;
    padding: 13px 20px;
    border: 1px solid #E62C03;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #2E2E2E;
  padding: 15px 0;
  }
  
  .copyright-text{
    display: flex;
    justify-content:center;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #E62C03;
  }
  .footer-menu li {
  display: inline-block;
  }
  .footer-menu li:hover a{
  color: #E62C03;
  }
  .footer-menu li a {
  font-size: 14px;
  color:#878787;
  }
  .footer-logo{
    font-family:'dancing script',sans-serif;
    color: rgba(240, 6, 100);
    font-size: 1.2rem;
  }
  




/*---------------------------------------------------------------------------
  ---------------------------------------------------------------------------*/

/*Responsive*/

@media screen and (max-width:363px){
    .project{
        top:370%;
    }
    .container-3{
        top:390%;
    }
    .container-4{
        top:520%;
    }
    .about1-image{
        margin-top: 160px !important;
      }
    .container-5{
        top:660%;     
    }
    .f{
        top:660%;
    }
}
@media (min-width:371px) and (max-width:377px){
    .project{
        top:410%;
    }
    .container-3{
        top:430%;
    }
    .container-4{
        top:580%;
    }

    .container-5{
        top:710%;
    }
    .f{
        top:700%;
    }
}
@media (min-width:390px) and (max-width:400px){
    .project{
        top:330%;
    }
    .container-3{
        top:350%;
    }
    .container-4{
        top:470%;
    }
    .container-5{
        top:580%;
    }
    .f{
        top:570%;
    }
}
@media (min-width:410px) and (max-width:420px){
    .project{
        top:300%;
    }
    .container-3{
        top:320%;
    }
    .container-4{
        top:420%;
    }
    .container-5{
        top:530%;
    }
    .f{
        top:520%;
    }
}
@media (min-width:430px) and (max-width:470px){
    .project{
        top:350%;
    }
    .container-3{
        top:370%;
    }
    .container-4{
        top:490%;
    }

    .container-5{
        top:610%;
    }
    .f{
        top:580%;
    }
}

@media (min-width:530px) and (max-width:550px){
    .project{
        top:360%;
    }
    .container-3{
        top:380%;
    }
    .container-4{
        top:490%;
    }

    .container-5{
        top:610%;
    }
    .f{
        top:550%;
    }
}
@media (min-width:580px) and (max-width:620px){
    .project{
        top:360%;
    }
    .container-3{
        top:380%;
    }
    .container-4{
        top:490%;
    }

    .container-5{
        top:610%;
    }
    .f{
        top:550%;
    }
}



@media screen and (max-width:800px){
    /*  Nav bar */
    ul{
        z-index: 1;
        position: fixed;
        width:100%;
        height:max-content;
        background: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    
       /*Container - 1*/
        .container-1{
            overflow: hidden;
        }
        img{
            height: 500px;
            overflow: hidden;
            position: inherit;     
        }
        .box-1{
            
            height:250px;
            width:250px;
        }
        .heading{
            padding-top: 50px;
        }
        #heading-1{
            position: absolute;
            top:10%;
            font-size: 1.9rem;
        }
        #heading-2{
            padding-top: 80px;
            font-size: 1.4rem;   
        }   
    
       /* Container - 2*/
    
        .container-2{
            overflow: hidden;
            position: absolute;
            top:2%;
            height:2700px;
            flex-direction: column;
            padding-block: 20px;            
        }
        .gallery{       
            width: 100%;
            padding-inline: 12px;
            grid-auto-rows: 220px;
        }
        .box{
            grid-row:span 1;
            grid-column: span 3;
        }
      #pink{
        font-size:2rem;  
      }
      #black{
        font-size: 2.4rem;       
      }
    
      /* right - content */
      .right-text{
        overflow: hidden;
        position: absolute;
        top:73%;
        padding-left: 10px;
    
      }
        .subheading{      
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
        }
        /* Our Projects */
    
        .project{
            position: absolute;
           /* top:300%; */
        }
    
       /* Container - 3*/
        .container-3{
            overflow: hidden;    
            position: absolute;
           /* top:320%; */
            height: auto;
            flex-direction: column;
            padding-block: 20px;      
        }
    
        .about1{      
            width: 100%; 
            padding-left: 30px;       
        }
        #heading{
            font-size: 2rem;
        }
    
        .sub-heading #button{
            position: absolute;
            top:100%;
        }
        .about1 #button{
           margin-left: 30px;
        }
        .about2{
        
            margin-top: 110px;
          }
          .about2-image{
            width:300px;
            box-shadow: -25px 45px rgb(240, 6, 100);
          }
    
          /* Container - 4 */
          
          .container-4{ 
            overflow: hidden;   
            position: absolute;
          /*  top:420%; */
            height: auto;
            flex-direction: column;
            padding-block: 20px;      
        }
    
        .container-4-about2{  
            position: absolute;
            top:5%;    
            width: 100%; 
            padding-left: 30px;       
        }
       
        .container-4-about2 #button{
           margin-left: 30px;
        }
        .container-4-about1{
        
            margin-top: 370px;
          }
    
          .about1-image{
            box-shadow: 27px 45px rgb(240, 6, 100);
            width:300px;
            margin-top: 100px;
          }
    
          /*  Container - 5*/
          .container-5{
            overflow: hidden;
            position: absolute;
            
           /* top:520%; */
        }
        #testimonials{ 
            font-size: 1.4rem;
            padding-top: 40px;
        }
        #border3{
            width: 70px;
        }
        .box-2{
            position: absolute;
            left:50%;
            top:46%;
            height:500px;
            width:500px;
            box-shadow: 3px 3px 3px rgb(172, 171, 171);
        }
        .box-2 p{
            padding-top: 440px;
            font-size: 1.3rem;
            line-height: normal;
        }
        #profile-pic img{
            height:70px;
            width:70px;
            border-radius: 50%;
            background-size: cover;       
        }
        /* Footer*/  
        .f{
            position: absolute;
          /*  top:480%; */
        }
}







      



/*----------------------------- NAVBAR   ----------------------------------*/

@media screen and (max-width:840px){

    /* For Responsive navbar */
     label.logo{
        font-size: 2.5rem;
        padding-left: 19px;
     }
    .checkbtn{
        display: block;
    }
    ul{
        z-index: 1;
        position: fixed;
        width:100%;
        height:max-content;
        background: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav{
        overflow: hidden;

    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size:20px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}


/*------------  CONTAINER ----------------------*/

    
@media  (min-width:1019) and (max-width:1024px){

.container-5{
    position: absolute;
    top:430%;
} 
}
