@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}
body{
    font-family: sans-serif;

}

/*Nav bar*/

nav{
    
    height: 80px;
    width:100%;
    background-color: black;
    overflow: hidden;
}
label.logo{
    color:rgb(240, 6, 100);
    font-size: 3rem;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:'dancing script',sans-serif;
}
#log-out{
    height: 50px;
    width: 90px;
    border: 2px solid rgb(240, 6, 100);
    border-radius: 10px;
}
#log-out:hover{
    background-color:none;
    box-shadow:none;

}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 23px;
    padding: 7px 13px;
    
}
nav ul li a:hover{
    color:white;
    padding: 7px 13px;
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
    transition: 0.5s ease-in all;
    text-decoration: none;   
}
nav ul li a.active{
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
    color: white !important;
}
.checkbtn{
    font-size: 30px;
    color:bisque;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;

}
/*----------------------------- CONTAINER -1 ---------------------*/
/*Container-1*/

img{
    width:100%;
    height:200px;
}
.box-1{
    position: absolute;
    top:0;
    float: left;
    width:300px;
    height:100px;
    margin: 30px;
    border-radius: 5px;
}
.head{
    padding-top: 100px;
    padding-left: 80px;
    /*color: rgb(240, 6, 100);*/
    color: white;
   
}
#heading-1{
    font-size: 2.7rem;
    font-weight: bold;

}
#heading-2{
    padding-top: 20px;
    font-size:1.5rem;
}
/*Container - 2*/


.right{
    height:500px;
    width:700px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%); 
 
}

label{
    padding-bottom: 14px;
    padding-top: 20px;
    font-size:1.5rem;
    padding-left: -10px;
}
input[type=text]{
    margin: 10px;
    height: 50px;
    padding: 30px;
    width: 300px;
    border: 0.1px solid rgb(169, 166, 166);
    border-radius: 8px;
    margin-right: 20px;
    font-size: 1.3rem;
    
    
}
input:focus{
    outline: none;
    background-color: #ebe9e9;
    border: none;

}
.second-box{
    margin-left: 50px;
}
#email-1{
    width: 640px;
}

input[type=button]{
    
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width:170px;
    height: 60px; 
    background-color: rgb(240, 6, 100);
    color: white;
    margin-top: 30px;
    margin-left: 100px;
    padding-top:2px;
    
     
    }
    input[type=button]:hover{
        background-color: black;
        transition: 0.5s ease-in all;
        cursor: pointer;
    }




/* Footer */


.f{
    height: 55px;
    width:100%;
    margin-top:50%;
  }
  
  .footer ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
    width:100%;
  /*background: #3f3f3f;*/
  background:black;
  position: absolute;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  /*color: #E62C03;*/
  color:rgba(240, 6, 100);
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  margin-bottom: 5px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 25px;
  text-transform: none;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-left: 15px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  margin-left: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .instagram-bg{
  background: #d839ddd1;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:rgba(240, 6, 100);
  }
  .footer-widget ul li {
  display: inline-block;
  float : left;
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #E62C03;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #E62C03;
    padding: 13px 20px;
    border: 1px solid #E62C03;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
  background: #2E2E2E;
  padding: 15px 0;
  }
  
  .copyright-text{
    display: flex;
    justify-content:center;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #E62C03;
  }
  .footer-menu li {
  display: inline-block;
  }
  .footer-menu li:hover a{
  color: #E62C03;
  }
  .footer-menu li a {
  font-size: 14px;
  color:#878787;
  }
  .footer-logo{
    font-family:'dancing script',sans-serif;
    color: rgba(240, 6, 100);
    font-size: 1.2rem;
  }
  



/*---------------------------------------------------------------------------
  ---------------------------------------------------------------------------*/

/*Responsive*/
@media  screen and (max-width:440px){
    .f{
        margin-top: 330% !important;
    }
}
@media  screen and (max-width:490px){
    .f{
        margin-top: 290% !important;
    }
}
@media  (min-width:500) and (max-width:520px){
    .f{
        margin-top: 330% !important;
    }
}
@media  (min-width:530) and (max-width:600px){
    .f{
        margin-top: 330% !important;
    }
}

@media  screen and (max-width:700px){
    /* Conatiner - 2 */
 
    .right{
        height:500px;
        width: 300px;
        position:absolute;
        top:60%;
        flex-direction: column;
        padding-block: 20px;
        position: absolute;
        left:50%;
        transform:translate(-50%,-50%); 
     
    }
    form{
        position: absolute;
        left:0%;
    }
    label{
        font-size: 1.5rem;
        padding:0px;
    }
    
    input[type=text]{
        font-size: 1.1rem;
        width: 300px !important;
        margin-top: 120px !important;
        margin-left: 0%;
    }

    #name{
        position: absolute; 
        padding-top: 15%;  
    }
    #fname{
        
        margin-top: 23% !important;

    }
    #lname{
        margin-top:5% !important;

    }
    #uname{
        position: absolute; 
        padding-top:8%; 
        
    }
    #uname-1{
        margin-top:18% !important;
    }
    #phn{
        position: absolute; 
        padding-top: 55%;
        left: -75%;  
    }
    #phn-1{
        margin-top:26% !important;

    }
    #email{
        position: absolute; 
        padding-top: 5%;
    }
    #email-1{
        margin-top:17% !important;

    }
    #pass{
        position: absolute; 
        padding-top: 45%;
        left: -1%;


    }
    #pass-1{
        position: absolute;
        top:64%; 
        padding-top:-1% !important;
    }
    #cpass{
        position: absolute; 
        padding-top: 101%;
        left: -79%; 
        
    }
    #cpass-1{
        margin-top:87% !important;
    }
    input[type=button]{
        font-size: 1.3rem;
        width:100px;
    }

    #button-1{
        width: 150px !important;
        position: absolute;
        top:100%;
        left:-37% !important;
    }
    #button-2{
        width: 150px !important;
        position: absolute;
        top:100%;
        margin-left: 50%;
    }
   
    .f{
        margin-top: 230%;
    }
}






/*----------------------------- NAVBAR   ----------------------------------*/

@media screen and (max-width:840px){

    /* For Responsive navbar */
     label.logo{
        font-size: 2.5rem;
        padding-left: 19px;
     }
    .checkbtn{
        display: block;
    }
    ul{
        z-index: 1;
        position: fixed;
        width:100%;
        height:max-content;
        background: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav{
        overflow: hidden;

    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size:20px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}


/*------------  CONTAINER ----------------------*/

    
