@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap');

    *{
        margin:0;
        padding:0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;  
    }
    body{
        margin: 0;
        background: cover;
        font-family: sans-serif;
    
    }
    
    /*Nav bar*/
    
    nav{
        
        height: 80px;
        width:100%;
        background-color: black;
        overflow: hidden;
        z-index: 1;
        
    }
    
    label.logo{
        color:rgb(240, 6, 100);
        font-size: 3rem;
        line-height:80px;
        padding: 0 100px;
        font-weight: bold;
        font-family:'dancing script',sans-serif;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin:0 5px;
    }
    nav ul li a{
        color:white;
        font-size: 17px;
        padding: 7px 13px;   
    }
    nav ul li a:hover{
        color:white;
        font-size: 17px;
        padding: 7px 13px;
        background-color: rgb(240, 6, 100);
        box-shadow: 5px 5px rgb(163, 27, 82);
        transition: 0.5s ease-in all;
        
    }
    nav ul li a.active{
        background-color: rgb(240, 6, 100);
        box-shadow: 5px 5px rgb(163, 27, 82);
    }
    .checkbtn{
        font-size: 30px;
        color:bisque;
        float:right;
        line-height:80px ;
        margin-right: 40px;
        cursor:pointer;
        display: none;
    }
    #check{
        display:none;
    
    }

    /* Container */
    .container-1{
        height: 610px;
        width: 100%;
    }
    img{
        height: 760px;
        width: 100%;
        background-size: cover;
    }
    .login{
        position: absolute;
        top:50%;
        width: 500px;
        height:650px;
        margin-left: 450px;
        background-color: rgb(222, 7, 93,0.9);
        left : 25%;
        transform:translate(-50%,-50%);
        border-radius: 30px;
    }
    ::placeholder{
        color:rgba(215, 212, 212, 0.7);
    }
    input[type=email], input[type=password]{
        border:none;
        color:white;
        width: 70%;
        padding:4px 8px;
        margin-left: 60px;
        outline: none;
        font-size: 16px;
        border-bottom:2px solid white ;
        background: transparent;
    }
    
    input[type=button]{
        background-color: whitesmoke;
        color:black;
        font-size: 18px;
        font-weight: bold;
        font-display: block;
        border-radius: 10px;
        width:35%;
        height: 43px;
        margin-left: 140px;
        margin-bottom: 16px;
        cursor:pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border: none;
    }
    input[type=button]:hover{
        background-color: black;
        color:white;
        box-shadow: 3px 3px rgba(88, 2, 36, 0.904);
        transition: 0.5s ease-in all;
    }
        p{
            color: white;
            padding-left: 60px;
            font-size: 15px;
            font-weight:200;
        }
        h1{
            color: white;
            font-size: 1.4rem;
        }
        .highlight{
            color: black;
            font-size: 16px;
        }


    /* Footer */


    .f{
        height: 55px;
        width:100%;
        margin-top:8%;
      }
      
      .footer ul {
        margin: 0px;
        padding: 0px;
      }
      .footer-section {
        width:100%;
      /*background: #3f3f3f;*/
      background:black;
      position: absolute;
      }
      .footer-cta {
      border-bottom: 1px solid #373636;
      }
      .single-cta i {
      /*color: #E62C03;*/
      color:rgba(240, 6, 100);
      font-size: 30px;
      float: left;
      margin-top: 8px;
      }
      .cta-text {
      padding-left: 15px;
      margin-bottom: 5px;
      display: inline-block;
      }
      .cta-text h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
      }
      .cta-text span {
      color: #757575;
      font-size: 15px;
      }
      .footer-content {
      position: relative;
      z-index: 2;
      }
      .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
      }
      .footer-logo {
      margin-bottom: 30px;
      }
      .footer-logo img {
        max-width: 200px;
      }
      .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
      color: #7e7e7e;
      line-height: 25px;
      text-transform: none;
      }
      .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
      margin-left: 15px;
      }
      .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
      margin-left: 15px;
      }
      .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
      }
      .facebook-bg{
      background: #3B5998;
      }
      .twitter-bg{
      background: #55ACEE;
      }
      .google-bg{
      background: #DD4B39;
      }
      .instagram-bg{
      background: #d839ddd1;
      }
      .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
      }
      .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background:rgba(240, 6, 100);
      }
      .footer-widget ul li {
      display: inline-block;
      float : left;
      width: 50%;
      margin-bottom: 12px;
      }
      .footer-widget ul li a:hover{
      color: #E62C03;
      }
      .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
      }
      .subscribe-form {
      position: relative;
      overflow: hidden;
      }
      .subscribe-form input {
      width: 100%;
      padding: 14px 28px;
      background: #2E2E2E;
      border: 1px solid #2E2E2E;
      color: #fff;
      }
      .subscribe-form button {
        position: absolute;
        right: 0;
        background: #E62C03;
        padding: 13px 20px;
        border: 1px solid #E62C03;
        top: 0;
      }
      .subscribe-form button i {
      color: #fff;
      font-size: 22px;
      transform: rotate(-6deg);
      }
      .copyright-area{
      background: #2E2E2E;
      padding: 15px 0;
      }
      
      .copyright-text{
        display: flex;
        justify-content:center;
      }
      .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
      }
      .copyright-text p a{
      color: #E62C03;
      }
      .footer-menu li {
      display: inline-block;
      }
      .footer-menu li:hover a{
      color: #E62C03;
      }
      .footer-menu li a {
      font-size: 14px;
      color:#878787;
      }
      .footer-logo{
        font-family:'dancing script',sans-serif;
        color: rgba(240, 6, 100);
        font-size: 1.2rem;
      }
      
    
    /*responsive*/

    @media  screen and (max-width:858px){
        img{
            overflow: hidden;
            height: 600px;
        }
        .login {
            margin-left: 150px;
            height: 450px;
            width: 450px;
            position: absolute;
            top: 64%;
            left: 28%;
            transform: translate(-50%,-50%);
        }
        /*For Responsive navbar*/

    .checkbtn{
        display: block;
    }
    ul{
        z-index: 2;
        position: fixed;
        width:100%;
        height:max-content;
        background: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav{
        overflow: hidden;

    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size:20px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}
    
@media  screen and (max-width:1200px){
    /*Container - 2*/
.subheading{
       padding-top: 70px;
    }  
}

    @media  screen and (max-width:600px){
        img{
            overflow: hidden;
            height: 600px;
        }
        .login{
            margin-left: 15px;
            height:500px;
            width:430px;
            position : absolute ;
            top :70% ; 
            left : 47%; 
            transform:translate(-50%,-50%);
        }
    
    }
